<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    price
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#"> <1000 DT </a>
    <a class="dropdown-item" href="#">1000DT - 1500DT </a>
    <a class="dropdown-item" href="#">1500DT - 2000DT</a>
      <a class="dropdown-item" href="#"> >2000DT </a>
  </div>
</div>
</body>
</html>